.card{
    height: 55rem;
    perspective: 150rem;
    position: relative;
    text-align: center;
    &__side{
    height: 55rem;
    transition: all .8s cubic-bezier(0.215, 0.610, 0.355, 1);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; //hides back part of card
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 .5rem 2rem rgba($color-black,  .2);
    &--front{
        background-color: white;
        }

    &--back{
        transform: rotateY(180deg);

        &-1{
            background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
            }
        &-2{
            background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
            }
        &-3{
            background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
            }

        

        }
    }


    &:hover &__side--front{
        // background-color: aqua;
        transform: rotateY(-180deg);
    }
     &:hover &__side--back{
        // background-color: aqua;
        transform: rotateY(0);
    }

    // fornt card styling
    &__picture{
        background-size: cover;
        background-blend-mode: screen;
        height: 23rem;
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        border-top-left-radius:3px ;
        border-bottom-right-radius: 3px;
        position: relative;
            &--1{
                background-image:linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark), url(../img/nat-5.jpg);
            }
             &--2{
                background-image:linear-gradient(to right bottom,$color-primary-light,$color-primary-dark), url(../img/nat-6.jpg);
            }
             &--3{
                background-image:linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark), url(../img/nat-7.jpg);
            }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        text-align: right;
        position: absolute;
        top:25%;
        right:1.5rem;
        width: 75%;
    }
    &__heading-span{
        padding: 1rem 1.5rem ;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom,rgba($color-secondary-light,.85),rgba($color-secondary-dark,.85));
        }
        &--2{
            background-image: linear-gradient(to right bottom,rgba($color-primary-light,.85),rgba($color-primary-dark,.85));
        }
        &--3{
            background-image: linear-gradient(to right bottom,rgba($color-tertiary-light,.85),rgba($color-tertiary-dark,.85));
        }
    }
    &__details{
        padding: 3rem;
        ul{
            list-style: none;
            width:80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 2rem;
                
                &:not(:last-child){
                    padding: 1rem;
                    border-bottom: .1rem solid $color-light-gray-2;
                }
            }
        }
    }

    &__cta{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        width: 90%;
        text-align: center;
    }
    
    &__price-box{
        text-align: center;
        color: white;
        margin-bottom: 8rem;
    }

    &__price-only{
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
}