.feature-box{
    background-color: rgba( $color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    &__icon{
        font-size: 6rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.05);
    }
}