.footer{
    background-color: #333333;
    height: 50rem;
    &__logo-box{
        text-align: center;
    }
    &__logo{
        margin-top: 10rem;
        width: 15rem;
        height: 11.9rem;
    }

    &__navigation{
        border-top: 1px solid white;
        margin-right: 3rem;
        margin-top: 3rem;
        width: 100%;
    }
    &__list{
        list-style: none;
        font-size: 2rem;
       
    }
    &__item{
        float: left;
        transition: all .3s;
        &:not(:last-child){
            margin-right: 2rem;
        }
        &:hover{
            transform: scale(1.05) rotate(10deg);
            box-shadow: 0 3rem 4rem rgba($color-black,.5);
        }
    }
    &__link{
        text-decoration: none;
        color: white;
        &:hover{
            color:$color-primary;
        }
        
    }

    &__copyright{
        margin-right: 3rem;
        margin-top: 3rem;
        font-size: 1.7rem;
        color: white;
        border-top: 1px solid white;
        padding: 2rem;
    }
}
