.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color: rgba($color-white,.6) ;
    border-radius: .3rem;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-15deg);
    
    // // selecting direct child element of story
    // & > *{
    //     transform: skewX(15deg);
        
    // }
    
    &__shape{
        width: 15rem;
        height: 15rem;
        float: left; //element float at left side and content move to right side
        shape-outside: circle(50% at 50% 50%); //make content float around circle
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(15deg);
        position: relative;
        
    }
    &__img{
        height:100%;
       transform: translateX(-4rem) scale(1.4);
       backface-visibility: hidden;
       transition: all .5s;
    }
    &__text{
        transform: skewX(15deg);
    }
    &__caption{
        color:$color-white;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, 20%);
        font-size: 1.7rem;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: all .3s;
        backface-visibility: hidden;
    }

     &:hover &__caption{
            opacity: 1;
            transform: translate(-50%, -50%);

        }
    &:hover &__img{
        transform: translateX(-4rem) scale(1.0); //we have to use it as  same as above .
        filter: blur(3px) brightness(80%); // brightness lower then 100% make it dark and above 100% make it brighter

    }
}