body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    /*Multiple by predefine line-height*/
    color: $color-gray-dark;
    padding: 3rem;

}
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

        &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 0.9s;
        animation-timing-function: ease-out;
        // /* animation-delay: 2s;
        // animation-iteration-count: 3; */
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 0.9s ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;    /* still needed for Safari & some older browsers */
     color: transparent;
     letter-spacing: .2rem;
     transition: all .2s;

     &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2 );
     }
}

.heading-tertiary{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph{
    font-size: $default-font-size;
    letter-spacing: 0.1rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}