.row{
    max-width: $grid-width;
    background-color: pink;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;

//    select everything except last element
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    // select attribute which is select  all class start with col
    // ^ means begin(start),* means contain this string,$ means end;
    [class^="col-"]{
        background-color: #e6004c;
        color: white ;
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }
    @include clearfix;

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal})/2);
        
    }
    .col-1-of-3{
        width: calc((100% - 2*#{$gutter-horizontal})/3);
        
    }
    .col-2-of-3{
        width: calc(2*((100% - 2*#{$gutter-horizontal})/3) + #{$gutter-horizontal});
    }
}