.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;

    // doing nesting here header__logo-box
    &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }

// /* .logo:hover{
//     animation: moveInRight 1s ease-out;
// } */

    &__text-heading{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

