.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;

    // doing nesting here header__logo-box
    &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }

// /* .logo:hover{
//     animation: moveInRight 1s ease-out;
// } */

    &__text-heading{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}


.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

        &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 0.9s;
        animation-timing-function: ease-out;
        // /* animation-delay: 2s;
        // animation-iteration-count: 3; */
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 0.9s ease-out;
    }
}